
label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.drop-area{
  width: 60vw;
  height: 20vw;
  border: 3px dashed gray;
  display: flex;
  align-items: center;
  justify-content: center;

}
.drag-area{
  width: 30vw;
  height: 10vw;
  border: 2px dashed gray;
  display: flex;
  align-items: center;
  justify-content: center;

}
.button {
  background-color: #ede6e1;
  color: #331e11;
  border: 2px solid #e7e7e7;
  border-radius: 3px;
  margin-right: 10px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  margin-top: 8px;
}
.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin-top: 10px
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #faf9f7;
}

#myCanvas {
  max-width: 100%;
  box-shadow: 3px 3px 5px 3px rgba(0,0,0,.2);
}

/* IF branding guidlines colors */
.ifMenuBackgroundColor {
  background-color: #f6f3f0
}

.ifActiveTextColor {
  color: #331e11
}

.navbar {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
}

.nav-link {
  color: #331e11
}

.nav-link:hover {
  color: #331e11;
}

a:hover {
  color: #331e11;
  text-decoration: underline;
}

a {
  color: #331e11;
}

.div {
  color: #331e11;
}

body {
  color: #331e11;
  background-color: #faf9f7;
}

.notification {
  background-color: #b5ede8;
}

.attention {
  background-color: #ffc9a6;
}

.card{
  margin-top: 5px;
  background-color: #f1ece8;
}

.accordion {
  box-shadow: 0 3px 5px 0 rgba(0,0,0,.2);
  
}

.bg-default {
  background-color: #f6f3f0;
  color: #331e11;
}